<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.classproject.teacherapp.mapper.AppCreJobMapper" >

    <resultMap id="BaseResultMap" type="com.classproject.teacherapp.entity.AppCreJob" >
        <id column="UUID" property="uuid" jdbcType="VARCHAR" />
        <result column="job_name" property="jobName" jdbcType="VARCHAR" />
        <result column="job_info" property="jobInfo" jdbcType="VARCHAR" />
        <result column="class_id"  property="classId" jdbcType="VARCHAR" />
        <result column="class_name"  property="className" jdbcType="VARCHAR" />
        <result column="user_id" property="userId" jdbcType="VARCHAR" />
        <result column="cre_time" property="creTime" jdbcType="VARCHAR" />
        <result column="fin_time" property="finTime" jdbcType="VARCHAR" />
        <result column="address" property="address" jdbcType="VARCHAR" />
    </resultMap>

    <resultMap id="ScoreMap" type="com.classproject.teacherapp.entity.AppScore">
        <id column="uuid" property="uuid"/>
        <result column="class_id"  property="classId"/>
        <result column="class_name"  property="className"/>
        <result column="user_id" property="userId" />
        <result column="user_name"  property="userName"/>
        <result column="grade"  property="grade"/>
        <result column="score"  property="score"/>
        <result column="job_id"  property="jobId"/>
        <result column="teacher"  property="teacher"/>
    </resultMap>
    <sql id="Base_Column_List" >
        UUID, job_name, job_info, user_id, class_id,class_name,cre_time, fin_time, address
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select
        <include refid="Base_Column_List" />
        from app_cre_job
        where UUID = #{uuid,jdbcType=VARCHAR}
    </select>

    <select id="selectByTeacher" resultMap="BaseResultMap" parameterType="com.classproject.teacherapp.vo.CreateJobVo" >
        select
        <include refid="Base_Column_List" />
        from app_cre_job
        where user_id = #{userId,jdbcType=VARCHAR}
    </select>

    <!--查询需要提交作业的用户-->
    <select id="selectStrudentByJob" resultType="com.classproject.teacherapp.entity.AppComJob" parameterType="string">
        select
        UUID,
        job_name,
        job_type,
        job_info,
        user_id,
        stu_id,
        commit_time,
        cre_time,
        fin_time,
        address,
        cre_job_id
        from app_com_job
        <where>
            <if test="jobId != null">
                cre_job_id = #{jobId,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <select id="selectScore" resultMap="ScoreMap" parameterType="String">
        select UUID,class_name,user_id,user_name,grade,score,job_id,teacher
        from app_score
        where job_id = #{jobId,jdbcType=VARCHAR}
    </select>

    <select id="selectScoreOne" resultMap="ScoreMap" parameterType="com.classproject.teacherapp.vo.SelectScoreVo">
        select class_id,class_name,user_id,user_name,grade,score,teacher
        from app_score
        <where>
                <if test="classId != null" >
                    class_id = #{classId,jdbcType=VARCHAR}
                </if>
                <if test="className != null" >
                    and class_name = #{className,jdbcType=VARCHAR}
                </if>
                <if test="userId != null" >
                    and user_id = #{userId,jdbcType=VARCHAR}
                </if>
                <if test="userName != null" >
                    and user_name = #{userName,jdbcType=VARCHAR}
                </if>
                <if test="grade != null" >
                    and grade = #{grade,jdbcType=VARCHAR}
                </if>
        </where>
    </select>


    <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
        delete from app_cre_job
        where UUID = #{uuid,jdbcType=VARCHAR}
    </delete>

    <insert id="insertScore" parameterType="com.classproject.teacherapp.entity.AppScore">
        insert into app_score
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="uuid != null" >
                UUID,
            </if>
            <if test="classId != null" >
                class_id,
            </if>
            <if test="className != null" >
                class_name,
            </if>
            <if test="userId != null" >
                user_id,
            </if>
            <if test="userName != null" >
                user_name,
            </if>
            <if test="grade != null" >
                grade,
            </if>
            <if test="score != null" >
                score,
            </if>
            <if test="jobId != null" >
                job_id,
            </if>
            <if test="teacher != null" >
                teacher,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="uuid != null" >
                #{uuid,jdbcType=VARCHAR},
            </if>
            <if test="classId!= null" >
                #{classId,jdbcType=VARCHAR},
            </if>
            <if test="className != null" >
                #{className,jdbcType=VARCHAR},
            </if>
            <if test="userId != null" >
                #{userId,jdbcType=VARCHAR},
            </if>
            <if test="userName != null" >
                #{userName,jdbcType=VARCHAR},
            </if>
            <if test="grade != null" >
                #{grade,jdbcType=VARCHAR},
            </if>
            <if test="score != null" >
                #{score,jdbcType=VARCHAR},
            </if>
            <if test="jobId != null" >
                #{jobId,jdbcType=VARCHAR},
            </if>
            <if test="teacher != null" >
                (select name from app_userinfo
                where uuid = #{teacher,jdbcType=VARCHAR})
            </if>
        </trim>

    </insert>

    <insert id="insert" parameterType="com.classproject.teacherapp.entity.AppCreJob" >
        insert into app_cre_job (UUID, job_name, job_info,
            user_id, cre_time, fin_time,
            address)
        values (#{uuid,jdbcType=VARCHAR}, #{jobName,jdbcType=VARCHAR}, #{jobInfo,jdbcType=VARCHAR},
            #{userId,jdbcType=VARCHAR}, #{creTime,jdbcType=VARCHAR}, #{finTime,jdbcType=VARCHAR},
            #{address,jdbcType=VARCHAR})
    </insert>

    <insert id="insertSelective" parameterType="com.classproject.teacherapp.entity.AppCreJob" >
        insert into app_cre_job
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="uuid != null" >
                UUID,
            </if>
            <if test="jobName != null" >
                job_name,
            </if>
            <if test="jobInfo != null" >
                job_info,
            </if>
            <if test="classId != null" >
                class_id,
            </if>
            <if test="classId != null" >
                class_name,
            </if>
            <if test="userId != null" >
                user_id,
            </if>
            <if test="creTime != null" >
                cre_time,
            </if>
            <if test="finTime != null" >
                fin_time,
            </if>
            <if test="address != null" >
                address,
            </if>

        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="uuid != null" >
                #{uuid,jdbcType=VARCHAR},
            </if>
            <if test="jobName != null" >
                #{jobName,jdbcType=VARCHAR},
            </if>
            <if test="jobInfo != null" >
                #{jobInfo,jdbcType=VARCHAR},
            </if>
            <if test="classId != null" >
                #{classId,jdbcType=VARCHAR},
            </if>
            <if test="className != null" >
                #{className,jdbcType=VARCHAR},
            </if>
            <if test="userId != null" >
                #{userId,jdbcType=VARCHAR},
            </if>
            <if test="creTime != null" >
                #{creTime,jdbcType=VARCHAR},
            </if>
            <if test="finTime != null" >
                #{finTime,jdbcType=VARCHAR},
            </if>
            <if test="address != null" >
                #{address,jdbcType=VARCHAR},
            </if>

        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.classproject.teacherapp.entity.AppCreJob" >
        update app_cre_job
        <set >
            <if test="jobName != null" >
                job_name = #{jobName,jdbcType=VARCHAR},
            </if>
            <if test="jobInfo != null" >
                job_info = #{jobInfo,jdbcType=VARCHAR},
            </if>
            <if test="userId != null" >
                user_id = #{userId,jdbcType=VARCHAR},
            </if>
            <if test="creTime != null" >
                cre_time = #{creTime,jdbcType=VARCHAR},
            </if>
            <if test="finTime != null" >
                fin_time = #{finTime,jdbcType=VARCHAR},
            </if>
            <if test="address != null" >
                address = #{address,jdbcType=VARCHAR},
            </if>
        </set>
        where UUID = #{uuid,jdbcType=VARCHAR}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.classproject.teacherapp.entity.AppCreJob" >
        update app_cre_job
        set job_name = #{jobName,jdbcType=VARCHAR},
            job_info = #{jobInfo,jdbcType=VARCHAR},
            user_id = #{userId,jdbcType=VARCHAR},
            cre_time = #{creTime,jdbcType=VARCHAR},
            fin_time = #{finTime,jdbcType=VARCHAR},
            address = #{address,jdbcType=VARCHAR}
        where UUID = #{uuid,jdbcType=VARCHAR}
    </update>

    <update id="updateScore" parameterType="com.classproject.teacherapp.entity.AppScore">
          update app_score
        set
            score = #{score,jdbcType=VARCHAR}
        where
            user_id = #{userId,jdbcType=VARCHAR}
    </update>
</mapper>